@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #112d42;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

section .container {
    position: relative;
    width: 85%;
    height: 90%;
    display: flex;
    z-index: 1000;
}

section .container #contactInfoBar{
    cursor: pointer;
    display: none;
    top: 46.5%;
    left: -14rem;
    transform: rotateZ(-90deg);
    position: absolute;
    padding: 0.2rem 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: 563px;
    height: 7%;
    background: #0f3959;
}

section .container .contactinfo {
    display: none;
    position: absolute;
    top: 40px;
    width: 30%;
    height: 86%;
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contactinfo h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

section.container .contactinfo .info {
    position: relative;
    margin: 20px 0;
}

section .container .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) img {
    width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .info li span:nth-child(2) {
    color: #fff;
    font-weight: 300;
    opacity: 0.5;
}

section .container .contactinfo .info li:hover span:nth-child(1) img, section .container .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;
}

section .container .contactinfo .sci {
    display: flex;
    position: relative;
}

section .container .contactinfo .sci li {
    list-style: none;
    margin-right: 20px;
}

section .container .contactinfo .sci li i {
    font-size: 1.3rem;
    text-decoration: none;
    filter: invert(i);
    opacity: 0.5;
    color: white;
}

section .container .contactinfo .sci li:hover a i {
    opacity: 1;
}

#hamCross{
    display: none;
    position: absolute;
    top: 2%;
    right: 4%;
}

#hamCross .fa {
    opacity: 0.7;
    color: white;
    font-size: 1.2rem;
}

#hamCross .fa:hover {
    opacity: 1;
    cursor: pointer;
}

section .container .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 14%;
    padding-left: 20%;
    width: calc(100% - 160px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .container .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactForm .formBox {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

section .container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

section .container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

section .container .contactForm .formBox .inputBox input, section .container .contactForm .formBox .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 1.1rem;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container .contactForm .formBox .inputBox textarea {
    min-height: 120px;
}

section .container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5%;
    pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus~span, section .container .contactForm .formBox .inputBox textarea:focus~span, section .container .contactForm .formBox .inputBox input:valid~span, section .container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

section .container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #ff568c;
}

@media only screen and (max-width: 1000px) {
    section .container {
        width: 90%;
    }
    section .container .contactinfo {
        margin-left: -2%;
        width: 35%;
    }
    section .container .contactForm {
        width: calc(100% - 130px);
    }
}

@media only screen and (max-width: 800px) {
    section .container {
        width: 100%;
    }
    section .container #contactInfoBar{
        display: flex;
    }
    section .container .contactinfo {
        display: none;
        position: absolute;
        width: 50%;
        left: 10%;
        height: 100%;
        top: 0%;
        z-index: 1000;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
        animation: appear 1s linear 0s 1 normal;
    }
    @keyframes appear {
        0%{
            left: -25%;
        }
        100%{
            left: 10%;
        }
    }
    section .container .contactForm {
        padding: 50px;
        margin-left: 8%;
    }
}

@media only screen and (max-width: 600px) {
    section .container .contactForm {
        width: calc(100% - 60px);
        margin-left: 4%;
    }
    section .container #contactInfoBar{
        left: -15.5rem;
    }
    section .container .contactinfo{
        left: 6%;
    }
}

@media only screen and (max-width: 500px) {
    section {
        height: 105vh;
    }
    section::before {
        height: 105%;
    }
    section .container .contactForm{
        padding-top: 40px;
    }
    section .container .contactinfo {
        width: 70%;
    }
    section .container #contactInfoBar{
        left: -16.5rem;
        width: 590px;
    }
    section .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
    section .container .contactForm .formBox .inputBox textarea {
        min-height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    section .container .contactForm {
        width: calc(100% - 30px);
        margin-left: 3%;
    }
    section .container .contactinfo {
        width: 80%;
        left: 5%;
    }
    section .container #contactInfoBar {
        left: -17.5rem;
    }
    section .container .contactForm{
        padding: 20px;
        padding-left: 26px;
        padding-right: 15px;
    }
}