body {
    margin: 0;
    padding: 0;
    background: url("https://i.pinimg.com/originals/8a/ce/59/8ace59fb64006df42df015203a27864d.jpg");
    background-size: cover;
    background-position: center;
    font-family: cursive;
}

.loginbox {
    width: 50%;
    background: rgba(0, 0, 0, 0.85);
    background-blend-mode: darken;
    box-shadow: 2px 2px 1rem black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.login {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 1.25rem;
    text-indent: 0.5rem;
}

.loginbox input[type="submit"] {
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: #fb2525;
    color: #fff;
    font-size: 1.7rem;
    border-radius: 20px;
}

.loginbox input[type="radio"]{
    cursor: pointer;
    margin: 1.5rem 0;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.loginbox label{
    margin: 1.5rem 0.4rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.loginbox input[type="radio"] {
    margin-left: 1rem;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
}

.loginbox a {
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    text-decoration-line: underline;
    font-size: 1.3rem;
    color: darkgrey;
    margin: 1rem;
}

.loginbox a:hover {
    color: #ffc107;
}