@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body {
    height: 90vh;
    background: url('https://static1.bigstockphoto.com/7/1/3/large1500/317867956.jpg') no-repeat center/cover;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.container-fluid {
    background: linear-gradient(rgba(60, 183, 240, 0.7), rgba(255, 122, 144, 0.705));
    height: 100vh;
    padding: 6rem 0;
}

.card {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    box-shadow: 2px 2px 2rem black;
    color: white;
    background-blend-mode: darken;
    height: 100%;
    width: 30%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card h3 {
    font-size: 1.8rem;
}

.btn {
    width: 40%;
    border-radius: 23rem;
    font-size: 1.2rem;
}