<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Career Guidance
        style
            include ../css/footer.css
        style
            include ../css/career.css
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Career Guidance
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/profile/contest')
                            | Contest
                            span.sr-only (current)
                    li.nav-item.active
                        a.nav-link(href='/profile/discuss')
                            | Discuss
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/profile/resources')
                            | Resources
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/profile/practice')
                            | Practice
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/profile/officialTest')
                            | Exams
                            span.sr-only
                    li.nav-item
                        a.nav-link(href='/users/logout') Log Out
                span.nav-item
                    a(href='/profile/contactUs' style="text-decoration: none;") Contact Us
        div#contain      
            img#img(src='https://mcg-qna.s3.amazonaws.com/79198ae76faeb3d8e6b0e7328c3eedad85502bc54ac0.jpg', alt='')
        footer
            .main-content
                .left.box
                    h2 About us
                    .content
                        p
                            | In the time of pandemic, when the students are in danger of not having sufficient learning content. We team noobs have come up to provide students enough content on a single website and test session to ensure that they don't need to go anywhere.
                        .social
                            a(href="#")
                                span.fab.fa-facebook-f
                            a(href="#")
                                span.fab.fa-twitter
                            a(href="#")
                                span.fab.fa-instagram
                            a(href="#")
                                span.fab.fa-youtube
                .center.box
                    h2 Address
                    .content
                        .place
                            span.fas.fa-map-marker-alt
                            span.text Mariam Nagar,Ghaziabad
                        .phone
                            span.fas.fa-phone-alt
                            span.text +089-7893567742
                        .email
                            span.fas.fa-envelope
                            span.text abc@example.com
                .right.box
                    h2 Quick Links
                    .content
                        ul
                            li
                                a(href="#") Home
                            li
                                a(href="#") Discover
                            li
                                a(href="#") Resource
                            li
                                a(href="#") Practise
                            li
                                a(href="#") Contest
            .bottom
                center
                    span.credit
                        | Created By
                        a(href="#") Team Noobs
                        |  |
                    span.far.fa-copyright
                    span 2020 All rights reseved.
    script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    script
        include ../js/profile.js