doctype html
html
    head
        meta(charset="UTF-8")
        title Test4
        style
            include ../assets/css/sub.css
        style
            include ../css/footer.css
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Test1
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/profile/contest')
                            | Contest
                            span.sr-only (current)
                    li.nav-item.active
                        a.nav-link(href='/profile/discuss')
                            | Discuss
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/profile/resources')
                            | Resources
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/profile/practice')
                            | Practice
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/profile/career')
                            | Career
                            span.sr-only
                    li.nav-item
                        a.nav-link(href='/users/logout') Log Out
                span.nav-item
                    a(href='/profile/contactUs' style="text-decoration: none;") Contact Us
        .jumbotron
            .container
                img.parallax-img(src="http://jimkulakowski.com/web-design/img/parallax-backgrounds/space.jpg" alt="Image of mac laptop on a desk")
                img.profile-img(src="https://qph.fs.quoracdn.net/main-qimg-28cadbd02699c25a88e5c78d73c7babc" alt="Anything")
                h1(style="color:white") Python Basic Test
                hr.style-seven
        .container-fluid
            h2#test_status(style="text-align: center;")
            #test(style="text-align: center; border: #000 1px solid; padding: 10px 40px 40px 40px;")
            br
            br
        footer
            .main-content
                .left.box
                    h2 About us
                    .content
                        p
                            | In the time of pandemic, when the students are in danger of not having sufficient learning content. We team noobs have come up to provide students enough content on a single website and test session to ensure that they don't need to go anywhere.
                        .social
                            a(href="#")
                                span.fab.fa-facebook-f
                            a(href="#")
                                span.fab.fa-twitter
                            a(href="#")
                                span.fab.fa-instagram
                            a(href="#")
                                span.fab.fa-youtube
                .center.box
                    h2 Address
                    .content
                        .place
                            span.fas.fa-map-marker-alt
                            span.text Mariam Nagar,Ghaziabad
                        .phone
                            span.fas.fa-phone-alt
                            span.text +089-7893567742
                        .email
                            span.fas.fa-envelope
                            span.text abc@example.com
                .right.box
                    h2 Quick Links
                    .content
                        ul
                            li
                                a(href="#") Home
                            li
                                a(href="#") Discover
                            li
                                a(href="#") Resource
                            li
                                a(href="#") Practise
                            li
                                a(href="#") Contest
            .bottom
                center
                    span.credit
                        | Created By
                        a(href="#") Team Noobs
                        |  |
                    span.far.fa-copyright
                    span 2020 All rights reserved.
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        script
            include ../assets/js/sub.js
        script
            include ../js/test4.js
        script(src='https://kit.fontawesome.com/a076d05399.js')